<!-- Make this into sane bootstrap? -->


<input type="file" class="file-input"
       (change)="onFileSelected($event)"
       accept="image/png" #fileUpload>

<div class="file-upload">
    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <label>Choose image</label>
    </button>
    <button class="dither-btn" (click)="doDither()">
      <label for="">Dither!</label>
    </button>
</div>

<select name="dither Methods" id="" (change)="onDitherMethodSelected($event)">
  <option value="Steinberg">Floyd-Steinberg</option>
  <option value="Atkinson">Atkinson</option>
  <option value="Ninke">JJN</option>
</select>

<canvas style="display: none;" #hiddenCanvas></canvas>
<canvas  #displayCanvas></canvas>
<img src="" alt="" id="wrkrImage" #image>
<div *ngIf="file"></div>

