<input type="file" class="file-input"
       (change)="onFileSelected($event)"
       accept="image/png" #fileUpload>

<div class="file-upload">

   

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <label>attach_file</label>
    </button>
</div>

<canvas style="display: none;" #hiddenCanvas></canvas>
<canvas  #displayCanvas></canvas>
<img src="" alt="" id="wrkrImage" #image>
<div *ngIf="file"></div>

<!-- 
<div class="">
  <div class="progress" *ngIf="inprogress">
    <p>loading...</p>
  </div>
</div> -->